body{
  background-color: black;
}
.countainer{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.picture{
  position: absolute;
  width: 50%;
  height: 80%;
  left: 25%;
  top: 10%;
}
.picture img{
  width: 100%;
  height: 100%;
}
.left{
  position: absolute;
  left: 0;
}
.right{
  position: absolute;
  right: 0;
}
.logos {
  max-width: 300px;
  max-height: 200px;
}
.pg{
  position: absolute;
  top: -500px;
  animation: fly 10000ms  linear infinite;
}
.remont{
  position: absolute;
  top: -1000px;
  animation: fly2 10000ms   linear infinite;

}
.sspw{
  position: absolute;
  top: -1500px;
  animation: fly3 10000ms linear infinite;

}


.kampus{
  position: absolute;
  right: 20%;
  top: -500px;
  animation: fly 10000ms  linear infinite;
}
.pmart{
  position: absolute;
  right: 20%;
  top: -1000px;
  animation: fly2 10000ms   linear infinite;
}
.ds{
  position: absolute;
  right: 20%;
  top: -1500px;
  animation: fly3 10000ms  linear infinite;
}



@keyframes fly {
    from {top: -200px;}
    to {top: 1700px;}
}
@keyframes fly2 {
    from {top: -700px;}
    to {top: 1200px;}
}
@keyframes fly3 {
    from {top: -1200px;}
    to {top: 700px;}
}
